[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests="*"
flask_sqlalchemy="*"
psycopg2="*"
flask="*"
configparser="*"
flask_redis="*"
flask_session="*"
xmltodict="*"
bs4="*"
lxml="*"
tableauserverclient="*"


[requires]
python_version = "3.7.1"
