beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
configparser==3.5.0
dash==0.35.2
dash-core-components==0.42.1
dash-html-components==0.13.5
dash-renderer==0.16.2
dash-table==3.1.12
decorator==4.3.0
Flask==1.0.2
Flask-Assets==0.12
Flask-Compress==1.4.0
Flask-Redis==0.3.0
Flask-Session==0.3.1
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
idna==2.8
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10
jsmin==2.2.2
jsonschema==2.6.0
jupyter-core==4.4.0
libsass==0.17.0
lxml==4.3.0
MarkupSafe==1.1.0
nbformat==4.4.0
numpy==1.16.0
pandas==0.23.4
plotly==3.5.0
psycopg2==2.7.6.1
python-dateutil==2.7.5
pytz==2018.9
redis==3.0.1
requests==2.21.0
retrying==1.3.3
six==1.12.0
soupsieve==1.7.1
SQLAlchemy==1.2.16
tableauserverclient==0.7
traitlets==4.3.2
urllib3==1.24.1
webassets==0.12.1
Werkzeug==0.14.1
xmltodict==0.11.0
