body,
html {
  font-family: Lato;
  background: #e7ecf7 !important;
  padding: 0;
  background: linear-gradient(rgba(57, 51, 153, 0.39), rgba(157, 240, 233, 0.32)), url("../img/bg.jpg") !important;
  height: 100% !important;
  background-size: cover !important;
  background-blend-mode: hard-light;
  height: 100% !important;
}



table {
  thead {
    tr {
      background: #646483 !important;
      color: white !important;
      font-weight: 100 !important;
      text-transform: uppercase !important;
      font-size: 0.8em !important;

      th {
        border-radius: 0 !important;
        text-align: center !important;
        line-height: 1.2 !important;
        padding: 10px 5px !important;
      }
    }
  }

  tbody {
    box-shadow: 0 0 7px #bdbdd2 !important;

    tr {
      border: 0 !important;

      &:nth-child(even) {
        background: #e7eefa !important;
      }

      td {
        max-width: 150px !important;
        overflow: hidden !important;
        padding: 15px 10px !important;
        font-size: 0.73em !important;
        line-height: 1.25 !important;
        border-radius: 0 !important;
        text-align: center !important;
      }
    }
  }
}

.home-template {
  .download {
    min-width: 49%;
    background: #eceff3;
    padding: 10px 30px;
    transition: all 0.3s ease-out;
    margin-bottom: 20px;
    @media(max-width:600px) {
      width: 100% !important;
    }

    &:hover {
      color: white !important;
      background: #039be5;
      cursor: pointer;

      li {
        color: white;
      }
    }
  }

  .key {
    font-weight: 900;
    text-transform: uppercase;
    margin-right: 20px;

    &.name {
      display: none;
    }
  }

  .view-list-item {
    color: #3c3f48;
    line-height: 1.4;
    font-size: 0.9em;
    display: flex;
    margin-bottom: 4px;
    align-items: center;

    &:first-of-type {
      font-size: 1.3em;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    &::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Pro";
      font-weight: 400;
      margin-right: 5px;
    }

    .id {
      &::before {
        content: "\f47f";
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        margin-right: 5px;
      }
    }

    .url {
      &::before {
        content: "\f0c1";
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        margin-right: 5px;
      }
    }

    .created {
      &::before {
        content: "\f319";
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        margin-right: 5px;
      }
    }

    .updated {
      &::before {
        content: "\f133";
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        margin-right: 5px;
      }
    }

    .name {
      &::before {
        content: "\f0ce";
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        margin-right: 5px;
      }
    }
  }

  .container {
    width: 100% !important;
  }

  .material-icons {
    display: inline-block !important;
  }

  .nav-extended #nav-mobile a {
    display: flex !important;
  }

  .nav-extended #nav-mobile i {
    margin-right: 10px !important;
  }

  nav .brand-logo {
    margin-left: 20px !important;
  }

  nav .brand-logo img {
    max-width: 45px;
    margin-right: 15px;
  }

  nav .brand-logo span {
    font-size: 0.8em !important;
  }

  h1 {
    font-size: 1.2em;
    color: #ffffff !important;
    background: #212b41;
    text-align: left;
    color: white !important;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    display: block;
    width: -webkit-fill-available;
    padding: 20px;
    margin-top: 0 !important;
    /* text-align: center; */
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 20px;
    font-weight: 100;
  }

  a {
    display: flex !important;
    align-items: center !important;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .extended-container {
    margin: 115px auto 0;
    background: white;
    max-width: 1000px;
    width: 90%;
    height: 80%;
    overflow: hidden;
    position: relative;
    padding: 30px;
    box-shadow: 5px 5px 30px #0d1141;
    @media(max-width: 600px) {
      margin: 15px auto 0;
      width: 95%;
    }
  }
}
